.FlexRCC{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.FlexRSC{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.FlexREC{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.FlexRCSt{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: stretch;
}

.FillFlex{
    flex : 2;
}