$naranja_main: #FF7A18;
$white_main: #F5F9F7;
$black_main:#161616;
$translucent_black: #292929;
$violet_main : #A77CE4;
$darker_violet : #674892;
$cian_main:#A4E8E0;
$yellow_main : #F8EA8C;
$darker_yellow : #E1C340;
$blue_main : #00A4E8;
$light_blue_main : #04c2f6;
$pivote_color: #F39530;
$red : #f0594e;
$verde : #48c088;
$deep-black : #1a1919;