<div class="modal-container">
    <div class="icon">
        <fa-icon (click)="closeModal()" [icon]="closeButton"></fa-icon>
    </div>
    <div class="modal-content-wrapper">
        <div class="modall-content"
             [style.height]="modalHeight-90 + 'px'"
             [style.width]="modalWidth-80 + 'px'">
                <h1>Código {{codeId}}</h1>
                <div class="codigo-wrapper"
                    [style.height]="modalHeight-120 + 'px'"
                    [style.width]="modalWidth*0.92 + 'px'">
                    <pre class="code"
                        [style.height]="modalHeight-136 + 'px'"
                        [style.width]="modalWidth*0.92 + 'px'"
                        [style.background-color]="darkMode ? '#222222' : '#fff'">
                        <div *ngFor="let line of codeLinesArray;" class="line-wrapper">
                            <code *ngFor="let segment of getLineSegments(line);"
                                [ngClass]="getSegmentClass(segment)">{{getSegmentText(segment)}}</code>
                        </div>
                    </pre>
                    <div class="icon-section">
                        <div title="Copy code" class="icon-button" (click)="copyToClickboard()">
                            <fa-icon [icon]="copyButton"></fa-icon>
                        </div>
                        <div class=icon-button (click)="switchThemeColor()">
                            <fa-icon [icon]="darkMode ? lightButton : darkButton"
                                    [title]="darkMode ? 'Light mode' : 'Dark mode'"></fa-icon>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>