<h1 mat-dialog-title>ERROR: Quinta capa.</h1>
<div mat-dialog-content>Debido a que el tamaño de pantalla precisado para mantener la visualización
    de una estructura estilo árbol escala exponencialmente con respecto a la altura, en función de mantener una profundidad 
    bajo la cual los nodos tengan la circunferencia necesaria para otorgar una experiencia de usuario 
    agradable donde puedan seguir siendo visualizados los valores de los nodos, se estableció un limite 
    en la capa número 4. Por favor, ingrese un valor que no genere una quinta capa.</div>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>
